@import 'account';

body {
    background-color: rgb(158, 231, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h2 {
    margin: 0;
}

h2, p {
    font-family: 'Rubik', sans-serif;
}